// Place all the styles related to the tabla controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  border-color: #1F1F1F;
  color:#1F1F1F;
  font-family: 'Amatic SC', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
}
td{
  border-color:#1F1F1F;
}
